body {
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: #eee;
    font-family: sans-serif;
    overflow: hidden;
    /* Prevent scrollbars */
}

canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}